.descriptionbox {
    margin: 0 4.5vw;
}

.descriptionbox-navigator {
    display: flex;
}

.description-nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    width: 160px;
    height: 60px;
    border: 1px solid #d0d0d0;
}

.description-nav-box.fades{
    background-color: #fbfbfb;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 2rem;
}