.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    border-bottom:  2px solid rgb(141, 140, 140);
    overflow-x: hidden;
}

.menu-bar{
    display: none;
    cursor:pointer
}

.sidebar{
    width: 300px;
    height: 100vh;
    position: absolute;
    gap: 20px;
    padding-top: 10px;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: -300px;
    transition: 0.3s ease;
    background-color: white;
}

.sidebar .link{
    color: black;
    text-decoration: none;
}

.side-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.sidebar li:active{
    border-bottom: 3px solid tomato;
    margin-bottom: -3px;


}
.sidebar .active li{
    border-bottom: 3px solid tomato;
    margin-bottom: -3px;

}

.close_icon{
    position: absolute;
    top: 15px;
    right: 16px;
    cursor: pointer;
}

.backdrop{
    position: absolute;
    top: 0;
    left: 0;
}

.backdrop.true{
    background-color: rgba(0, 0, 0,0.3);
    width: 100%;
    height: 100vh;
    z-index: 777;
}


.sidebar.true{
    left: 0;
    transition: 0.3s ease;
}

.Nav-brand{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: dashed;

}

.logolink{
    text-decoration: none;
}

.Nav-brand .logo-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}


.logo{
    height: 36px;
}

.nav-menus{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menus .link{
    color: black;
    text-decoration: none;
}

.nav-menus li:hover{
    border-bottom: 3px solid tomato;
    margin-bottom: -3px;

}
.nav-menus .active li{
    border-bottom: 3px solid tomato;
    margin-bottom: -3px;

}

.buttons{
display: flex;
align-items: center;
gap: 20px;
position: relative;
}
.login-btn{
    border: 1px solid black;
    border-radius: 50px;
    padding: 4px 24px;
    
    outline: none;
    background: transparent;
    font-size: 1.1rem;

}

.login-btn:active{
    background-color: #f3f3f3;
}



.buttons .cart{
    height: 30px;
    cursor: pointer;
}

.buttons .cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color: red;
    padding:0 6px;
    height: 16px;
    width: 16px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    margin-top: -18px;
    margin-left: -30px;
}


@media (min-width:1300px){
    .link li{
        font-size: 1.2rem;
    }
}
@media (max-width:670px){
    .Nav-brand .logo-name{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .nav-menus{
        display: none;
    }

    .menu-bar{
        display: block;
    }
}

@media(max-width:576px){
    .login-btn{
        font-size: 1rem;
        padding: 4px 24px;
    
    }

}


@media (max-width:375px){
    .Nav-brand .logo-name{
        font-size: 1rem;
        font-weight: 600;
    }
    .logo{
        height: 26px;
    }
    .login-btn{
        font-size: 0.8rem;
        padding: 0 16px;
        margin-left:10px;
    
    }

    .menu-bar img{
        margin-right: 5px;
        height: 25px;
        width: 25px;
    }

    .buttons .cart{
        height: 25px;
        cursor: pointer;
    }

    .login-btn{
        font-size: 0.8rem;
        padding: 0 16px;
    
    }

    .menu-bar img{
        height: 25px;
        width: 25px;
    }

    .buttons .cart{
        height: 25px;
        cursor: pointer;
    }
}
@media (max-width:425px){
    .Nav-brand .logo-name{
        font-size: 1rem;
        font-weight: 600;
    }
    .logo{
        height: 26px;
    }
    .login-btn{
        font-size: 0.8rem;
        padding: 0 16px;
        margin-left:10px;
    
    }

    .menu-bar img{
        margin-right: 5px;
        height: 25px;
        width: 25px;
    }

    .buttons .cart{
        height: 25px;
        cursor: pointer;
    }

    .login-btn{
        font-size: 1rem;
        padding: 0 16px;
    
    }

    .menu-bar img{
        height: 25px;
        width: 25px;
    }

    .buttons .cart{
        height: 25px;
        cursor: pointer;
    }
}
@media (max-width:320px){
    .Nav-brand .logo-name{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .logo{
        height: 26px;
    }
    .login-btn{
        font-size: 0.8rem;
        padding: 0 16px;
        margin-left:10px;
    
    }

.sidebar{
    height: calc(120vh);
}
    .login-btn{
        font-size: 0.8rem;
        padding: 0 16px;
    
    }

    .menu-bar img{
        height: 25px;
        width: 25px;
    }

    .buttons .cart{
        height: 22px;
        cursor: pointer;
    }

    .buttons .cart-count{
        height: 13px;
        width: 13px;
        margin-top: -12px;
        margin-left: -28px;
    }
    .Navbar{
        width: 350px;
    }

   .backdrop.true{
    background-color: none;
    width: 350px;
    height: 100hvh;
    
   }

    .close_icon{
        top: 10px;
    }
}