.offers {
    display: flex;
    background: linear-gradient(0deg, white, rgba(255, 99, 71, 0.3) 90%);
    width: 80%;
    margin: auto;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 100px;
    overflow: hidden;
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    

}

.offers:hover{
    transform: scale(1.10);
    transition: 0.6s;
}


.offers-left h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 0;
}


.offers-left .offer-button {
    border: none;
    background-color: tomato;
    color: white;
    width: 200px;
    padding: 8px 24px;
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.offers-right img{
    height: 300px;
}

@media(max-width:778px){
    .offers{
        width: 90%;
        padding: 0 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
.offers-right img{
    height: 350px;
    padding-left: 20px;
}

.offers-left p{
    font-size: 15px;
    margin-bottom: 5px;

}

.offers-left h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 0;
}

.offers-left .offer-button{
    width: 100px;
    padding: 4px 5px;
    font-size: 12px;
}

}
@media(max-width:576px){
    .offers{
        width: 90%;
        padding-left: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
.offers-right img{
    height: 320px;
}

.offers-left p{
    font-size: 15px;
    margin-bottom: 5px;

}

.offers-left h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

.offers-left .offer-button{
    width: 120px;
    padding: 2px 3px;
    font-size: 14px;
}
}

@media(max-width:425px){
    .offers{
        width: 90%;
        padding-left: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
.offers-right img{
    height: 400px;
    padding-left: 20px;
}

.offers-left p{
    font-size: 15px;
    margin-bottom: 5px;

}

.offers-left h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

.offers-left .offer-button{
    width: 100px;
    padding: 1px 2px;
    font-size: 12px;
}
}
@media(max-width:375px){
    .offers{
        width: 90%;
        padding-left: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
.offers-right img{
    height: 350px;
    padding-left: 20px;
}

.offers-left p{
    font-size: 15px;
    margin-bottom: 5px;

}

.offers-left h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

.offers-left .offer-button{
    width: 100px;
    padding: 1px 2px;
    font-size: 12px;
}

    
.offers-right img{
    height: 400px;
}

.offers-left p{
    font-size: 10px;
    margin-bottom: 5px;

}

.offers-left h1 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

.offers-left .offer-button{
    width: 100px;
    padding: 1px 2px;
    font-size: 12px;
}
}

@media(max-width:320px){
    .offers{
        width: 95%;
        padding-left: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 22px;
    }

    
.offers-right img{
    height: 350px;
}

.offers-left h1 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

.offers-left .offer-button{
    width: 100px;
    padding: 1px 4px;
}

}