.productdisplay {
    display: flex;
    margin: 0 4.5vw;
    margin-bottom: 80px;
    overflow-x: hidden;
}

.productdisplay-left {
    display: flex;
    gap: 1rem;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.productdisplay-img-list img {
    height: 163px;
}

.productdisplay-main-img {
    height: 700px;
    width: auto;
}

.productdisplay-right {
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}

.productdisplay-right h1 {
    font-size: 2rem;
    color: #3d3d3d;
    font-size: 700;
}

.productdisplay-right-star {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-star p {
    margin-bottom: 0;
}

.productdisplay-right-prices {
    display: flex;
    margin: 30px 0;
    gap: 30px;
    font-size: 1.4rem;
    font-weight: 600;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;

}

.productdisplay-right-price-new {
    color: tomato;

}

.productdisplay-right-size h1 {
    margin-top: 40px;
    font-size: 1.25rem;
    color: #656565;
    font-weight: 600;
}

.productdisplay-right-sizes {
    display: flex;
    margin: 15px 0;
    gap: 20px;
}

.productdisplay-right-sizes div {
    padding: 1rem 1.5rem;
    background-color: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.productdisplay-right-sizes div:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.productdisplay-right button {
    padding: 10px 40px;
    color: white;
    background-color: rgb(255, 82, 52);
    width: 200px;
    margin-bottom: 30px;
    font-size: 1rem;
    border: none;
    outline: none;
    font-weight: 600;
}

.productdisplay-right button:active {
    background-color: tomato;
}

.productdisplay-right p span {
    font-weight: 600;
}

@media(max-width:1024px){
    .productdisplay-img-list img {
        height: 90px;
    }
    .productdisplay-left {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        margin-bottom: 50px;
    }

    .productdisplay-right h1{
        font-size: 20px;
    }

    .productdisplay-main-img {
        height: 450px;
        width: auto;
    }
    .productdisplay-img-list {
        flex-direction: row;
        gap: 1.5rem;
    }
    
}

@media(max-width:992px) {
    .productdisplay-img-list img {
        height: 90px;
    }
    .productdisplay-left {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        margin-bottom: 50px;
    }

    .productdisplay-right h1{
        font-size: 20px;
    }

    .productdisplay-main-img {
        height: 450px;
        width: auto;
    }
    .productdisplay-img-list {
        flex-direction: row;
        gap: 1.5rem;
    }
    


}
@media(max-width:768px) {
    .productdisplay {
        flex-direction: column;
    }

    
}

@media(max-width:576px) {
    .productdisplay {
        flex-direction: column;
    }

    .productdisplay-left {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .productdisplay-img-list {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;

    }

    .productdisplay-img-list img {
        height: 138px;
        width: auto;
    }

    .productdisplay-main-img {
        height: auto;
        width: 100vw;
    }

    .productdisplay-right {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .productdisplay-right h1 {
        font-size: 1.4rem;
        margin-top: 20px;
        color: #3d3d3d;
        font-size: 700;
    }

    .productdisplay-right-star {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #1c1c1c;
        font-size: 16px;
    }

    .productdisplay-right-star p {
        margin-bottom: 0;
    }

    .productdisplay-right-prices {
        display: flex;
        margin: 30px 0;
        gap: 30px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .productdisplay-right-size h1 {
        margin-top: 40px;
        font-size: 1.25rem;
        color: #656565;
        font-weight: 600;
    }

    .productdisplay-right-sizes {
        display: flex;
        margin: 15px 0;
        gap: 10px;
    }

    .productdisplay-right-sizes div {
        padding: 0.5rem 1rem;
        background-color: #fbfbfb;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        cursor: pointer;
    }

    .productdisplay-right-sizes div:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }

    .productdisplay-right button {
        padding: 10px 40px;
        color: white;
        background-color: rgb(255, 82, 52);
        width: 200px;
        margin-bottom: 30px;
        font-size: 1rem;
        border: none;
        outline: none;
        font-weight: 600;
    }



}

@media(max-width:425px) {
    .productdisplay {
        flex-direction: column;
    }

    .productdisplay-left {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .productdisplay-img-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;

    }

    .productdisplay-img-list img {
        height: 100px;
        width: auto;
    }

    .productdisplay-main-img {
        height: 470px;
        width: 100vw;
    }

    .productdisplay-right {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .productdisplay-right h1 {
        font-size: 1.4rem;
        margin-top: 20px;
        color: #3d3d3d;
        font-size: 700;
    }

    .productdisplay-right-star {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #1c1c1c;
        font-size: 16px;
    }

    .productdisplay-right-star p {
        margin-bottom: 0;
    }

    .productdisplay-right-prices {
        display: flex;
        margin: 30px 0;
        gap: 30px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .productdisplay-right-size h1 {
        margin-top: 40px;
        font-size: 1.25rem;
        color: #656565;
        font-weight: 600;
    }

    .productdisplay-right-sizes {
        display: flex;
        margin: 15px 0;
        gap: 10px;
    }

    .productdisplay-right-sizes div {
        padding: 0.5rem 1rem;
        background-color: #fbfbfb;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        cursor: pointer;
    }

    .productdisplay-right-sizes div:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }

    .productdisplay-right button {
        padding: 10px 40px;
        color: white;
        background-color: rgb(255, 82, 52);
        width: 200px;
        margin-bottom: 30px;
        font-size: 1rem;
        border: none;
        outline: none;
        font-weight: 600;
    }



}
@media(max-width:375px) {
    .productdisplay {
        flex-direction: column;
    }

    .productdisplay-left {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .productdisplay-img-list {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;

    }

    .productdisplay-img-list img {
        height: 90px;
        width: auto;
    }

    .productdisplay-main-img {
        height: 400px;
        width: 100vw;
    }

    .productdisplay-right {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .productdisplay-right h1 {
        font-size: 1.4rem;
        margin-top: 20px;
        color: #3d3d3d;
        font-size: 700;
    }

    .productdisplay-right-star {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #1c1c1c;
        font-size: 16px;
    }

    .productdisplay-right-star p {
        margin-bottom: 0;
    }

    .productdisplay-right-prices {
        display: flex;
        margin: 30px 0;
        gap: 30px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .productdisplay-right-size h1 {
        margin-top: 40px;
        font-size: 1.25rem;
        color: #656565;
        font-weight: 600;
    }

    .productdisplay-right-sizes {
        display: flex;
        margin: 15px 0;
        gap: 10px;
    }

    .productdisplay-right-sizes div {
        padding: 0.5rem 1rem;
        background-color: #fbfbfb;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        cursor: pointer;
    }

    .productdisplay-right-sizes div:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }

    .productdisplay-right button {
        padding: 10px 40px;
        color: white;
        background-color: rgb(255, 82, 52);
        width: 200px;
        margin-bottom: 30px;
        font-size: 1rem;
        border: none;
        outline: none;
        font-weight: 600;
    }



}

@media(max-width:320px) {
    .productdisplay {
        flex-direction: column;
        margin: 0 2.5vw;

    }

    .productdisplay-left {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .productdisplay-img-list {
        display: flex;
        flex-direction: row;
        margin: auto;

    }

    .productdisplay-img-list img {
        height: 60px;
        width: auto;
    }

    .productdisplay-main-img {
        height: 370px;
        width: 100vw;
        margin-left: 35px;
    }

    .productdisplay-right {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .productdisplay-right h1 {
        font-size: 1.4rem;
        margin-top: 20px;
        color: #3d3d3d;
        font-size: 700;
    }

    .productdisplay-right-star {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #1c1c1c;
        font-size: 16px;
    }

    .productdisplay-right-star p {
        margin-bottom: 0;
    }

    .productdisplay-right-prices {
        display: flex;
        margin: 30px 0;
        gap: 30px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .productdisplay-right-size h1 {
        margin-top: 40px;
        font-size: 1.25rem;
        color: #656565;
        font-weight: 600;
    }

    .productdisplay-right-sizes {
        display: flex;
        margin: 15px 0;
        gap: 10px;
    }

    .productdisplay-right-sizes div {
        padding: 0.5rem 1rem;
        background-color: #fbfbfb;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        cursor: pointer;
    }

    .productdisplay-right-sizes div:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }

    .productdisplay-right button {
        padding: 10px 40px;
        color: white;
        background-color: rgb(255, 82, 52);
        width: 200px;
        margin-bottom: 30px;
        font-size: 1rem;
        border: none;
        outline: none;
        font-weight: 600;
    }



}